/****************************** HTML elements ********************************/
body {
  background-color: #594A4E;
}

h1, h5{
  font-family: "Lobster", cursive;
  color: #4ECCA3;
  text-align: center;
  text-shadow: 5px 0 #232931;
}

p {
  text-align: center;
  color: #fff;
  font-size:0.8rem;
}


/******************************** Container  *********************************/
.container{
width: 80%;
margin: auto;
text-align: center;
}

footer{
  margin-top: 6%;
}

/********************************** Hedings **********************************/
.main-title {
  font-size: 7rem;
  padding-top: 3%;
  margin-bottom: 0;
}

.next-title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 4%;
}

.player{
  color: #4ECCA3;
  font-size: 1.5rem;
  font-family: 'Indie Flower', cursive;
}

/********************************** Images ************************************/
img{
  width:30%;
}
